*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/*
/log/*
/public/uploads/*
/tmp/cache/assets/sprockets/v3.0/*
/config/database.yml
.DS_Store
tmp/*
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
.byebug_history

# Ignore application configuration
/config/application.yml

## Environment normalization:
/.bundle/
/vendor/bundle
/lib/bundler/man/
app/helpers/application_helper_LOCAL_7916.rb
app/helpers/application_helper_BACKUP_7916.rb
app/helpers/application_helper_BACKUP_7916.rb
app/helpers/application_helper_REMOTE_7916.rb
app/helpers/application_helper_BASE_7916.rb
tmp/cache/assets/sprockets/v3.0/Lh/LhWTcqXWOi9eVegtYnqnHouf9al_0s2u4gZeLVrNwq4.cache
tmp/cache/assets/sprockets/v3.0/B4/B43LeT9Wba4fLvXw-C_kKq-x9HwYZxnBBiltbIufzzQ.cache
tmp/cache/assets/sprockets/v3.0/99/99m8UCKl4j8IpsVOK8ltLHyNh8Ae0nHw3GBkC34V_co.cache
tmp/cache/assets/sprockets/v3.0/61/61DYE6KWkT0kZHOqhoDyZVE-tFnswqDzUluEf04Z9qI.cache
tmp/cache/assets/sprockets/v3.0/Lh/LhWTcqXWOi9eVegtYnqnHouf9al_0s2u4gZeLVrNwq4.cache
tmp/cache/assets/sprockets/v3.0/61/61DYE6KWkT0kZHOqhoDyZVE-tFnswqDzUluEf04Z9qI.cache
log/development.log

