*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
tmp/pids/server.pid
/tmp/*
/log/*
/public/uploads/*
/tmp/cache/assets/sprockets/v3.0/*
/config/database.yml
.DS_Store
tmp/*
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
.byebug_history
tmp/cache/
# Ignore application configuration
/config/application.yml

## Environment normalization:
/.bundle/
/vendor/bundle
/lib/bundler/man/
app/helpers/application_helper_LOCAL_7916.rb
app/helpers/application_helper_BACKUP_7916.rb
app/helpers/application_helper_BACKUP_7916.rb
app/helpers/application_helper_REMOTE_7916.rb
app/helpers/application_helper_BASE_7916.rb
tmp/cache/assets/sprockets/v3.0/yy/yydwqo-PI0vxxfrLudGu1oWnGZPX5mKxRWAYkkDLZgk.cache

app/helpers/application_helper_BASE_7916.rb
app/helpers/application_helper_REMOTE_7916.rb
app/helpers/application_helper_BACKUP_7916.rb
app/helpers/application_helper_LOCAL_7916.rb
